WindowsFormsApplication1/Service References/ServRef/Chess.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Chess.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Chess.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfRoomMirror">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomMirror" nillable="true" type="tns:RoomMirror" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomMirror" nillable="true" type="tns:ArrayOfRoomMirror" />
  <xs:complexType name="RoomMirror">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Players" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Watchers" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomMirror" nillable="true" type="tns:RoomMirror" />
  <xs:simpleType name="PlayerColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="White" />
      <xs:enumeration value="Black" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerColor" nillable="true" type="tns:PlayerColor" />
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PlayerJoined" />
      <xs:enumeration value="PlayerLeft" />
      <xs:enumeration value="WatcherJoined" />
      <xs:enumeration value="WatcherLeft" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
</xs:schema>